@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional custom styles can go here */
body {
  margin: 0;
  overflow: hidden;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  display: block;
}

#dimensionsDisplay {
  position: absolute;
  top: 1rem; /* 16px */
  left: 1rem; /* 16px */
  padding: 0.5rem; /* 8px */
  background-color: rgba(55, 65, 81, 0.75); /* bg-gray-700 with 75% opacity */
  border-radius: 0.375rem; /* rounded-md */
  color: white;
  font-family: sans-serif;
  font-size: 0.875rem; /* text-sm */
}

#dimensionsDisplay p {
  margin: 0.25rem 0; /* my-1 */
}
